---
layout: archive
---

{{ content }}

home.html follows:

### _(kiri-fense)_

Curiefense is an open source security suite that introduces session profiling, human detection, bot management and OWASP top 10 protection (aka WAF) for Envoy Proxy.

## Created by
<a href="https://www.reblaze.com/">Reblaze Technologies
</a>

## Used by
12 clients.

## Why Curiefense?

OpenCurie can run in a wide variety of environments: cloud, on-prem, hybrid, and serverless. It works in VMs, containers, and service meshes.
OpenCurie is a fully automated system that integrates with the toolchains you already use and runs inside your perimeter. There is no compromise on security or privacy, and you don’t need to share your private keys or expose your user data to any third party whatsoever.

## Features

- Session Profiling
- Advanced Rate Limiting
- Next-gen WAF
- Fine-grained ACLs
- Automated threat data-feed integration
- Bot management
- API protection
- Full traffic transparency (shows all details of all incoming HTTP requests)
- Real-time dashboard and graphical reporting using Prometheus and Grafana
- And more.


- Custom cloud functions (execution of user-supplied Lua functions during traffic processing)
- Mobile/native client-side SDK

## Integrated with:

- [Google Cloud Platform](https://cloud.google.com/)
- Managed Kubernetes services:
  - [Amazon Elastic Kubernetes Service (EKS)](https://aws.amazon.com/eks/)
  - [Azure Kubernetes Service (AKS)](https://azure.microsoft.com/en-us/services/kubernetes-service/)
  - [Google Kubernetes Engine (GKE)](https://cloud.google.com/kubernetes-engine)
- [Istio](https://istio.io/)

## Deployment options:

- [Docker Compose](https://docs.docker.com/compose/)
- [Helm](https://helm.sh/)
- [Terraform](https://www.terraform.io/)

## Ready to roll?

Read the [documentation](https://reblaze-2.gitbook.io/curiefense/).

Fork the [repository](https://github.com/curiefense/curiefense.github.io).

## About the name

Curiefense is named after the famous scientist Marie Curie. The first version was developed in an intensive meeting in Paris, a few hundred meters from her laboratory.
